body.all{
  text-align:center;
}

#background-image1{
  background-image: url("../images/the-flatiron-building.png");
  height:297px;
}

h1.header1{
  font-family: helvetica;
  font-size:70px;
  font-weight:bold;
  color: white;
  height:70px;
}
p.nav-section{
  font-family:helvetica;
  font-size:18px;
  color:white;
}

a{
  color:inherit;
}

#background-white{
  background-color:white;
}

.background-image2{
  background-image: url("../images/the-flatiron-building.png");
  height:29px;
}
