body.all{
  text-align:center;
}

#footer-bar{
  background-color: dimgray;
  text-align:left;
}

#background-image1{
  background-image: url("../images/the-flatiron-building.png");
  height:297px;
}

h1.header1{
  font-family: helvetica;
  font-size:70px;
  font-weight:bold;
  color: white;
  height:70px;
}

h1.header2{
  font-family:helvetica;
  font-size:32px;
  font-weight:bold;
}

h1.header3{
  font-family:helvetica;
  font-size:23px;
  font-weight:bold;
}

.copyright{
  font-family:helvetica;
  font-size:11px;
  color:white;
}

.nav-section{
  font-family:helvetica;
  font-size:18px;
  color:white;
}
h1.header4{
  font-family:helvetica;
  font-size:23px;
  font-weight:bold;
  color:white;
}

a{
  color:inherit;
}

#background-white{
  background-color:white;
}

#background-image2{
  background-image: url("../images/the-flatiron-building.png");
  height:29px;
}

p.normal{
  font-family:helvetica;
  font-size:14px;
}
